################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/CO1111-Shared-Project
/.vs/slnx.sqlite
/.vs/
/.idea/