* {
    margin: 0 0;
}


:root {
    --animationSpeed: 1s;
}

body, .wrapper {
    background-image: url("./media/background.png");
    background-size: contain;
    background-position: center;
    height: 100vh !important;
    font-family: 'Pirata One';
}


div::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
}
div::-webkit-scrollbar-track {
    background: orange;        /* цвет дорожки */
}
div::-webkit-scrollbar-thumb {
    background-color: blue;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid orange;  /* padding вокруг плашки */
}

.sprite {
    max-height: 10vh;
}

body {
    max-width: 100vw;
    overflow: hidden;
}

#top_stone {
    background-image: url("./media/stone_sprite180.png");
    height: 15vh;
    background-repeat: repeat-x;
    background-size: contain;

}

#bottom_stone {
    background-image: url("./media/stone_sprite.png");
    height: 15vh;
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    bottom: -60px;
    width: 100vw;
}

.wrapper {
    height: 100%;

}

@media only screen and (max-width: 1400px) {
    #top_stone {
        height:20vh;
        background-size: cover;
    }
    body, .wrapper {
        background-size: cover;
        background-position: top;
    }
    .controlPanelElement:hover {
        background-color: orange;
    }


    #bottom_stone {
        height: 20vh;
        background-size: cover;

    }
    .controlPanelElement {
        font-size: xxx-large;
        height: 5vh !important;
    }
    .controlPanel {
        padding: 20px;
    }
    .infoIcon {
        max-height: 5vh !important;
    }
    .menuIcon {
        max-height: 5vh !important;
    }

}

.menuIsOpen {
    background-color: #4b4b4b !important;

}

.bt:hover {
    background-color: #a4a4a4 !important;
}

.dialogue {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 0 auto 0 auto;
    font-size: x-large;
}



.dialogueElement.questionBox {
    min-height: 10vh;
    opacity: 0;
    transition: var(--animationSpeed);
}

.dialogueElement.answerBox {
    opacity: 0;
    transition: var(--animationSpeed)
}

#questionText {
    max-height: 20vh;
    overflow: auto;
}

.mascotBox {
    background-color: rgba(255,255,255,0) !important;
    border: none !important;
    height: 5vh;
    opacity: 0;
    transition: var(--animationSpeed)
}



.mascotIcon {
    height: 10vh;
}

.dialogueInsider {
    padding: 10px;
}

.dialogueElement {
    background-color: #ffffff;
    min-height: 10vh;
    border: 2px solid #000000;
    border-radius: 20px;

}



.menuIcon {
    background: url("./media/menu-button-of-three-horizontal-lines.png");
    background-size: cover;
    max-height: 3vh;
    aspect-ratio: 1 / 1;
}

.infoIcon {
    background: url("./media/info (1).png");
    background-size: cover;
    max-height: 3vh;
    aspect-ratio: 1 / 1;
}


.controlPanelElement {
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    height: 3vh;
    display: flex;
    align-items: center;
    font-size: x-large;
}

.controlPanelContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 5vw;
}

.controlPanel {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    justify-content: space-between;
}

/* свойства модального окна по умолчанию */
.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
}

/* при отображении модального окно */
.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}